.logo {
  column-gap: 0.5em;
  font-size: 1.5rem;
  font-weight: 700;
  color: #373d3f;
  margin: auto 0.5em;
}

#logo {
  max-width: 50px;
  height: auto;
  margin-right: 0.5em;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.link:visited {
  color: inherit;
}
