ul li button {
  background: inherit;
  border: inherit;
  font-weight: inherit;
  padding: inherit;
  color: white;
  padding: 0.3em;
  border: 1px solid;
  border-radius: 35px;
  border-color: transparent;
  transition: color 0.3s, border-color 0.3s;
}

button:focus {
  outline: none;
}

.icon {
  margin-right: 0.6em;
}
