.sidebar {
  display: grid;
  color: #afd3c8;
  border-right: 1px solid #dadddd;
  box-shadow: 25px 0px 30px -8px #80867f4a;
  justify-items: center;
  align-items: flex-start;
  background-color: white;
  background: linear-gradient(#009261, rgb(18, 28, 29)),
    url(../images/nutrition.jpeg);
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar {
  max-width: 60px;
  margin: 0;
  align-self: center;
  clip-path: circle(50% at 50% 50%);
}

.userInfo {
  text-align: left;
  line-height: 1.5em;
}

.sidebarContent {
  display: grid;
  grid-template-columns: 60px min-content;
  grid-column-gap: 1em;
  justify-content: center;
  justify-items: center;
  margin: 0.7em;
}

.menu {
  grid-column: 1/3;
  justify-self: flex-start;
  font-weight: 600;
  line-height: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.hLine {
  height: 6px;
}

.hLine:first-of-type {
  grid-column: 1/3;
  margin: 0.6em auto;
}

ul li a {
  background: inherit;
  border: inherit;
  font-weight: inherit;
  padding: inherit;
  color: white;
  padding: 0.3em;
  border: 2px solid;
  border-color: transparent;
  border-radius: 35px;
  text-decoration: none;
  transition: color 0.2s, border-color 0.2s;
}

.icon {
  margin-right: 0.6em;
}

.active {
  color: #00ffb4;
  transition: color 0.5s, border-color 0.5s;
  border-color: #00ffb4;
  border-radius: 35px;
}
